<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <Properties>
        <Property name="base">logs</Property>
        <Property name="fileName">mp3</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%p] %t: %d{HH:mm:ss.SSS} [%c] - %m%n"/>
        </Console>
        <RollingRandomAccessFile name="rolling" fileName="${base}/${fileName}.log" immediateFlush="false"
                                 filePattern="${base}/${fileName}_%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%p] %t: %d{yyyy-MM-dd'T'HH:mm:ss.SSS} [%c] - %m%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="trace" additivity="true" includeLocation="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rolling"/>
        </Root>
    </Loggers>
</Configuration>
